<div class="experience">
    <h3>Web Developer</h3>
    <h6>Dataquarter Technologies</h6>
    <h6>Duties</h6>
    <ul>
        <li>Designed and maintained complete website from start to finish.</li>
        <li>Creating and Coding elements of web pages to put together be fitting websites on the internet according to the clients specification.</li>
        <li>Ensured accuracy of website content by thoroughly editing and cross-checking.
            Conduct post-release testing on websites.
      </li>
    </ul>

    <div class="cmp2">
        <h3>PHP Developer</h3>
        <h6>Leza Solutions</h6>
        <h6>Duties</h6>
        <ul>
            <li>Involved in designing both frontend and backend part.</li>
            <li>Worked as a core team member in the Project.</li>
            <li>Responsible for building and maintaining website based on company and design goals. </li>
            <li>Designing page layouts, and manipulate images to suit web pages and enhance its entire beauty to create visual appeal.</li>
            <li>Evaluate and execute the website thoroughly to ensure cross-browser and device compatibility.</li>
        </ul>

    </div>
</div>
