<div class='dashboard'>
    <div class="dashboard-nav">
        <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a><a href="#"
                                                                                   class="brand-logo"><img src="../../assets/m.jpeg" class="meenaimg"  alt="meena"> <span>Meenachi R</span></a></header>
        <nav class="dashboard-nav-list"><a routerLink="/home" routerLinkActive="active" class="dashboard-nav-item"><i class="fas fa-home"></i>
            Home </a>
            <a routerLink="/profile"  class="dashboard-nav-item" routerLinkActive=""><i class="fas fa-file-upload"></i> Profile </a>
            
            
                <a routerLink="/education" class="dashboard-nav-item" routerLinkActive=""><i class="fas fa-cogs"></i> Education </a><a
                routerLink="/experience" class="dashboard-nav-item" routerLinkActive=""><i class="fas fa-user"></i> Experience </a>
        
        </nav>
    </div>
    